<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container my-3">
        <h2>insert question for which answer has to be generated</h2>
        <form method="POST" action="/get_ans">
          <div class="mb-3">
            <label for="index" class="form-label">context chapter name/id</label>
            <input
              type="text"
              class="form-control"
              name="index"
              id="index"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="question" class="form-label">Enter Question</label>
            <input type="text" class="form-control" id="question" name="question" />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

      <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    
</body>
</html>