<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/evaluate"><button name="evaluate" action="/evaluate" method="GET"> click here to evaluate your answer</button></a>
    <a href="/generateanswer"><button name= "enter question" action="/enter-q" method="GET">click here to enter your question to database</button></a>
</body>
</html>